<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Earth9-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>Earth9-A2.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>Earth9-A3.png</key>
		<dict>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>Earth9-A4.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>Earth9-A5.png</key>
		<dict>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>Earth9-A6.png</key>
		<dict>
			<key>x</key>
			<integer>428</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
	</dict>
</dict>
</plist>