<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire1-A1.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Fire1-A2.png</key>
		<dict>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Fire1-A3.png</key>
		<dict>
			<key>x</key>
			<integer>194</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Fire1-A4.png</key>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Fire1-A5.png</key>
		<dict>
			<key>x</key>
			<integer>62</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Fire1-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
	</dict>
</dict>
</plist>