<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire2-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire2-A2.png</key>
		<dict>
			<key>x</key>
			<integer>355</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire2-A3.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire2-A4.png</key>
		<dict>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire2-A5.png</key>
		<dict>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire2-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
	</dict>
</dict>
</plist>