<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire3-A1.png</key>
		<dict>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Fire3-A2.png</key>
		<dict>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Fire3-A3.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>124</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Fire3-A4.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Fire3-A5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Fire3-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>134</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
	</dict>
</dict>
</plist>