<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire6-A1.png</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>142</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Fire6-A2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>142</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Fire6-A3.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Fire6-A4.png</key>
		<dict>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Fire6-A5.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>Fire6-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>108</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
	</dict>
</dict>
</plist>