<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Water9-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>Water9-A2.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>Water9-A3.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>Water9-A4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>Water9-A5.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>Water9-A6.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
	</dict>
</dict>
</plist>