<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Water4-A1.png</key>
		<dict>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>Water4-A2.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>Water4-A3.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>Water4-A4.png</key>
		<dict>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>Water4-A5.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>Water4-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
	</dict>
</dict>
</plist>