<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Water2-A1.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>54</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Water2-A2.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Water2-A3.png</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Water2-A4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Water2-A5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>54</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>Water2-A6.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
	</dict>
</dict>
</plist>