<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Water6-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>Water6-A2.png</key>
		<dict>
			<key>x</key>
			<integer>158</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>Water6-A3.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>Water6-A4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>156</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>Water6-A5.png</key>
		<dict>
			<key>x</key>
			<integer>158</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>Water6-A6.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>176</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
	</dict>
</dict>
</plist>