<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Water2-1.png</key>
		<dict>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>Water2-2.png</key>
		<dict>
			<key>x</key>
			<integer>51</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>Water2-3.png</key>
		<dict>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
		<key>Water2-4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
	</dict>
</dict>
</plist>