<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Earth4-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>13</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>Earth4-A2.png</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>Earth4-A3.png</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>Earth4-A4.png</key>
		<dict>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>Earth4-A5.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>Earth4-A6.png</key>
		<dict>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
	</dict>
</dict>
</plist>