<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire7-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire7-A2.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire7-A3.png</key>
		<dict>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire7-A4.png</key>
		<dict>
			<key>x</key>
			<integer>254</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire7-A5.png</key>
		<dict>
			<key>x</key>
			<integer>333</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
		<key>Fire7-A6.png</key>
		<dict>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>88</integer>
		</dict>
	</dict>
</dict>
</plist>