<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire8-A1.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>142</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>Fire8-A2.png</key>
		<dict>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>18</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>142</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>Fire8-A3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>162</integer>
			<key>width</key>
			<integer>142</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>142</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>Fire8-A4.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>142</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>Fire8-A5.png</key>
		<dict>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>-18</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>142</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>Fire8-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>142</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>142</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
	</dict>
</dict>
</plist>