<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire4-A1.png</key>
		<dict>
			<key>x</key>
			<integer>392</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>Fire4-A2.png</key>
		<dict>
			<key>x</key>
			<integer>313</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>Fire4-A3.png</key>
		<dict>
			<key>x</key>
			<integer>236</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>Fire4-A4.png</key>
		<dict>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>Fire4-A5.png</key>
		<dict>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>Fire4-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
	</dict>
</dict>
</plist>