<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Fire9-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>218</integer>
		</dict>
		<key>Fire9-A2.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>220</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>218</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>218</integer>
		</dict>
		<key>Fire9-A3.png</key>
		<dict>
			<key>x</key>
			<integer>233</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-27</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>218</integer>
		</dict>
		<key>Fire9-A4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>218</integer>
		</dict>
		<key>Fire9-A5.png</key>
		<dict>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>218</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>218</integer>
		</dict>
		<key>Fire9-A6.png</key>
		<dict>
			<key>x</key>
			<integer>233</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-27</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>218</integer>
		</dict>
	</dict>
</dict>
</plist>