<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Person1-A1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A2.png</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A3.png</key>
		<dict>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>-28</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A4.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A5.png</key>
		<dict>
			<key>x</key>
			<integer>399</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A7.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>28</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-A8.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>20</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
	</dict>
</dict>
</plist>