<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Wind3-A1.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Wind3-A2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Wind3-A3.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Wind3-A4.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Wind3-A5.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Wind3-A6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
	</dict>
</dict>
</plist>