<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>char_bg_earth.png</key>
		<dict>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>97</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>char_bg_fire.png</key>
		<dict>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>char_bg_Item.png</key>
		<dict>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>char_bg_water.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>char_bg_wind.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
	</dict>
</dict>
</plist>