<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>EmyMonseter_HP.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>43</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>3</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>originalHeight</key>
			<integer>3</integer>
		</dict>
		<key>EmyMonsterLevel.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>33</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>9</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>9</integer>
		</dict>
		<key>End.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>20</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>HP_bar.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>15</integer>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>4</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>4</integer>
		</dict>
		<key>Monster_HP.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>11</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>3</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>originalHeight</key>
			<integer>3</integer>
		</dict>
		<key>monsterLevel.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>9</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>9</integer>
		</dict>
	</dict>
</dict>
</plist>