<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Water5-1.png</key>
		<dict>
			<key>x</key>
			<integer>140</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>Water5-2.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>Water5-3.png</key>
		<dict>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>Water5-4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
	</dict>
</dict>
</plist>