<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Wind5-1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-2.png</key>
		<dict>
			<key>x</key>
			<integer>72</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-3.png</key>
		<dict>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-4.png</key>
		<dict>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-5.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-6.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-7.png</key>
		<dict>
			<key>x</key>
			<integer>427</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
		<key>Wind5-8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>78</integer>
		</dict>
	</dict>
</dict>
</plist>