<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>WindUpgrade1.png</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>81</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>34</integer>
			<key>originalHeight</key>
			<integer>24</integer>
		</dict>
		<key>WindUpgrade2.png</key>
		<dict>
			<key>x</key>
			<integer>363</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>originalHeight</key>
			<integer>14</integer>
		</dict>
		<key>WindUpgrade3.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>21</integer>
		</dict>
		<key>WindUpgrade4.png</key>
		<dict>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>WindUpgrade5.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>45</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>WindUpgrade6.png</key>
		<dict>
			<key>x</key>
			<integer>177</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>WindUpgrade7.png</key>
		<dict>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>WindUpgrade8.png</key>
		<dict>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>76</integer>
		</dict>
		<key>WindUpgrade9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>45</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>WindUpgrade10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>81</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>WindUpgrade11.png</key>
		<dict>
			<key>x</key>
			<integer>439</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>21</integer>
		</dict>
		<key>WindUpgrade12.png</key>
		<dict>
			<key>x</key>
			<integer>401</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>37</integer>
			<key>originalHeight</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>