<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Wind8-1.png</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>34</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>Wind8-2.png</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>Wind8-3.png</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>34</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>Wind8-4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>