<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Wind1-1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-2.png</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-3.png</key>
		<dict>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-4.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-5.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-6.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-7.png</key>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>34</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>Wind1-8.png</key>
		<dict>
			<key>x</key>
			<integer>266</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>18</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>38</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>