<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>HexInfo1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>HexInfo2.png</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>HexInfo3.png</key>
		<dict>
			<key>x</key>
			<integer>257</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>HexInfo4.png</key>
		<dict>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
	</dict>
</dict>
</plist>