<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>Person1-1.png</key>
		<dict>
			<key>x</key>
			<integer>931</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-2.png</key>
		<dict>
			<key>x</key>
			<integer>449</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-3.png</key>
		<dict>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-4.png</key>
		<dict>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-5.png</key>
		<dict>
			<key>x</key>
			<integer>191</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-6.png</key>
		<dict>
			<key>x</key>
			<integer>769</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-7.png</key>
		<dict>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-8.png</key>
		<dict>
			<key>x</key>
			<integer>850</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-9.png</key>
		<dict>
			<key>x</key>
			<integer>690</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-10.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>122</integer>
		</dict>
		<key>Person1-11.png</key>
		<dict>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>Person1-12.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Person1-13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-14.png</key>
		<dict>
			<key>x</key>
			<integer>788</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>-28</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>102</integer>
		</dict>
		<key>Person1-15.png</key>
		<dict>
			<key>x</key>
			<integer>602</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>108</integer>
		</dict>
		<key>Person1-16.png</key>
		<dict>
			<key>x</key>
			<integer>611</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>Person1-17.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>122</integer>
		</dict>
		<key>Person1-18.png</key>
		<dict>
			<key>x</key>
			<integer>511</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>Person1-19.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
		<key>Person1-20.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>Person1-21.png</key>
		<dict>
			<key>x</key>
			<integer>903</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>28</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>102</integer>
		</dict>
		<key>Person1-22.png</key>
		<dict>
			<key>x</key>
			<integer>695</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>20</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>108</integer>
		</dict>
	</dict>
</dict>
</plist>